<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Edit your activity </h1>
<section>
  <form action="/activities/<%= activity._id %>?_method=PUT" method="POST">
    <div>
            <label for=" content-textarea" class="review-label">Type Activity Here:</label>
            <input type="textarea" name="name" value="<%= activity.name %> " id="activity-name">
          </div>
          <label for="activity-type">Activity Type:</label>
          <select name="type" id="activity-type">
            <option value="Physical">Physical</option>
            <option value="Mental">Mental</option>
            <option value="Spiritual">Spiritual</option>
            <option value="Psycological">Psycological</option>
          </select>

          <button type="submit">Edit your activity</button>
  </form>
</section>

      <%- include('../partials/footer') %>