<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/index.css">
<%- include('../partials/nav') %>

<main>
  <h1> <%= user ? `${user.profile.name}, please add activity below:`  : `Please Log In to view activities.` %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>      
 <section>
  <h1>  </h1>
  <section>
    <%# New Code Below %>
    <% if (user) { %>
      <form action="/activities" method="POST">
        <div>
          <label for=" content-textarea" class="review-label">Type Activity Here:</label> 
          <textarea name="name" id= "name-textarea"></textarea> 
          <!-- will id= work here? -->
        </div>
        <label for="activity-type">Activity Type:</label>
          <select name="type" id="activity-type">  
          <option value="Physical">Physical</option>
          <option value="Mental">Mental</option>
          <option value="Spiritual">Spiritual</option>
          <option value="Psycological">Psycological</option>
          </select>
        <!-- <label>
          Need Provider's Help
          <input type="checkbox" name="help">
        </label> -->
        <button type="submit">Add</button>
      </form>
      <ul>
        <% activities.forEach(activity => { %>
          <li> 
            🏂
            <a href="/activities/<%= activity._id %>"> <%= activity.name %> </a>
            <!-- <= activity.help ? 'need help' : 'do not need help' %>  -->
            <p>Activity type: <%= activity.type %> </p>
          </li>
          <% }) %>
      </ul>     
      <% } %>
</section>                      
</main>

<%- include('../partials/footer') %>
