<%- include('./partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/index.css">
<%- include('./partials/nav') %>

<main>
  <h1> <%= user ? `Hello ${user.profile.name}`  : "Welcome to MindLog. ðŸ“ Please log in." %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
    <div>
      <h1>Welcome to MindLog</h1>
      <a href="/entries">
        <%- title === 'Add Entry' ? 'class="active"' : ''  %>
        <button>
          YOUR ENTRIES
      </button>
      </a>

      

    </div>
    
  <% } %>
  <section>
  </section>                                    
</main>

<%- include('./partials/footer') %>
