<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/index.css">
<%- include('../partials/nav') %>

<main>
  <h1> <%= user ? `${user.profile.name}, please add your new entry below:`  : `Please Log In to view entries.` %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>      
 <section>
  <h1>  </h1>
  <section>
    <%# New Code Below %>
    <% if (user) { %>
      <form action="/entries" method="POST">
        <div>
          <label for=" content-textarea" class="review-label">Type Entry Here:</label> 
          <textarea name="name" id= "name-textarea"></textarea> 
          <!-- will id= work here? -->
        </div>
        <label for="mood-rating">Rate Your Mood:</label>
          <select name="mood" id="mood-rating">  
          <option value="Happy">Happy</option>
          <option value="Content">Content</option>
          <option value="Sad">Sad</option>
          </select>
        <label>
          Need Provider's Help
          <input type="checkbox" name="help">
        </label>
        <button type="submit">Add</button>
      </form>
      <ul>
        <% entries.forEach(entry => { %>
          <li> 
            📝 
            <a href="/entries/<%= entry._id %>"> <%= entry.name %> </a>
            <%= entry.help ? 'need help' : 'do not need help' %> 
              <p>Your mood for this entry: <%= entry.mood %> </p>
            </li>
            <% }) %>
          </ul>     
          <% } %>
</section>                      
</main>

<%- include('../partials/footer') %>
