<!-- VIEW FOR INDIVIDUAL ENTRY BASED ON OWNER AND ENTRY ID -->
<%- include('../partials/html-head') %>
<link rel="stylesheet" href="../stylesheets/index.css">
<%- include('../partials/nav') %>

<Section>
  <p>User: <%= entry.owner.name%> </p>
  <p>Entry Details:</p>
  <h1><%= entry.name %> </h1>
  
  <% if (user) { %>
    <form 
      action="/entries/<%= entry._id %>/flip-help?_method=PATCH" 
      method="POST">
      <button class="btn" type="submit">
        You indicted that you  <%= entry.help ? 'need help' : 'do not need help' %> 
      </button>
    </form>
  <% } %>
</Section>
  <p>Your mood for this entry: <%= entry.mood %> </p>
<a href="/entries/<%= entry._id %>/edit">
  <%- title === 'EDIT' ? 'class="active"' : ''  %>
  <button>
    EDIT
</button>
</a>

  <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST">
    <button class="btn" type="submit">
      DELETE
  </button>
  </form>

<%- include('../partials/footer') %>