<!-- VIEW FOR INDIVIDUAL ENTRY BASED ON OWNER AND ENTRY ID -->
<%- include('../partials/html-head') %>
  <!-- <link rel="stylesheet" href="../stylesheets/style.css"> -->
<%- include('../partials/nav') %>

<Section>
  <div class="user-name">
        <p>
          User: 
          <hr> 
          <div>
            <img  class="user-avatar"
              src="<%= user.profile.avatar %>"
              alt="<%= user.profile.name %> avatar"
            />
          </div>
        </p>
  </div>
  <div>
  
  </div>
  <div class="entry-details">
      <p>
         Entry Details:
      </p>
    <h1>
      <hr>
      <%= entry.name %>
    </h1>
        <% if (user) { %>
          <form action="/entries/<%= entry._id %>/flip-help?_method=PATCH" method="POST">
            <button class="btn" type="submit">
              You indicted that you <%= entry.help ? 'need help' : 'do not need help' %>
            </button>
          </form>
        <% } %>
      <p>
        Your mood for this entry: <%= entry.mood %>
      </p>
  </div>
  <div class="edit-delete-buttons">
    <a href="/entries/<%= entry._id %>/edit">
      <%- title==='EDIT' ? 'class="active"' : '' %>
      <button>
        EDIT
      </button>
    </a>
    <form action="/entries/<%= entry._id %>?_method=DELETE" method="POST">
      <button class="btn" type="submit">
        DELETE
      </button>
    </form>
  </div>
</Section>
<%- include('../partials/footer') %>